
body{
    display: inline-flex;
}
/* Style for things about the game grid*/
#gameGridContainer{
    height: 749px;
    width: 900px;
}
#gameGrid{
    border: solid black thin;
    width:630px;
    height: 630px;
    position: absolute;
    table-layout: fixed;
    left: 100px;
}
.gameBoardCells{
    width: 105px;
    height: 105px;
    text-align: center;
    background-repeat: no-repeat;
    padding: 0;
}
/* Up Stairs*/
#gameGridContainer2{
    display: none;
    position: absolute;
    height: 749px;
    width: 800px;
    z-index: 2;
}
#gameGrid2{

    border: solid black thin;
    width:630px;
    height: 630px;
    position: absolute;
    table-layout: fixed;
    left: 100px;

}
.gameBoardCells2{
    width: 105px;
    height: 105px;
    text-align: center;
    background-repeat: no-repeat;
    padding: 0;
}
/*///////////////////////*/

/*Style for things about the player*/
#playerInfoContainer{
    border: solid black;
    height: 500px;
    width: 300px;
    float: right;
}
#logo{
    width: 211px;
    position: relative;
    left: 40px;

}
/*/////*/
#hpCardContainer{
    position: relative;
    left: 20px;
}
#hpCard{
    table-layout: fixed;
    border: solid black;
    background-color: forestgreen;
    color: yellow;
}
.hpCells{
    width: 35px;
    height: 50px;
    padding: 0;
    text-align: center;
}
/*/////*/
#goldContainer{
    display: inline-flex;
}
#goldChest{
    position: relative;

}
#goldCount{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 50px ;
    width: 150px;
    text-align: center;

}
/*/////*/
#swordSpot{
    display: none;
    position: absolute;
    top: 150px;
    left: 950px;
    border: thin solid black;
    width: 100px;
    height: 100px;
    background-image: url("Media/sword.png");
    background-repeat: no-repeat;
}
#keySpot{
    display: none;
    position: absolute;
    top: 251px;
    left: 950px;
    border: thin solid black;
    width: 100px;
    height: 100px;
    background-image: url("Media/key.png");
    background-repeat: no-repeat;
}
/*///////////////////////*/
/*Style for tileSpawnBox*/
#tileSpawnBox{
    height: 105px;
    width: 105px;
    border: solid black;
    position: absolute;
    top: 525px;
    left: 908px;
    background-repeat: no-repeat;
    background-image: url("Media/deck.png");
}
/*Style for the battle Display*/
#battleContainer{
    display: none;
    position: absolute;
    top: 4px;
    left: 100px;
    border: thick red solid;
    height: 640px;
    width: 635px;
    background-color: darkblue;
    background-repeat: no-repeat;
    z-index: 1;
}
#instaGibButton{
    position: relative;
    width: 110px;
    height: 50px;
    top: 425px;
    left: 1px;


}
#attackButton {
    position: relative;
    width: 110px;
    height: 25px;
    top: 410px;
    right: 317px;

}
#returnToDungeonButton{
    display: none;
    position: absolute;
    top: 150px;
    left: 400px;
    height: 40px;
    width: 150px;
}

#lootBox{
    display: inline;
    position: absolute;
    top: 25px;
    left: 350px;
    border:solid medium yellow;
    width: 275px;
    height: 100px;
    font-size: large;
    background-color: lightyellow;
}
#foeContainer{
    position: relative;
    top: 5px;
    left: 95px;
    width: 90px;
    height: 90px;
    border: thick solid red;
    background-size: contain;
    background-repeat: no-repeat;
}
#foeArmor{
    position: absolute;
    top: 5px;
    left: 195px;
    border: medium solid grey;
    width: 60px;
    height: 40px;
    background-color: lightgrey;
}
#foeWeapon{
    position: absolute;
    top: 225px;
    left: 310px;
    border: medium solid grey;
    width: 90px;
    height: 45px;
    background-color: lightgrey;
}
#foeHp{
    display: inline-flex;
    position: absolute;
    left: 95px;
    top: 110px;
    border: thin solid yellow;
    height: 31px;
    width: 98px;
}
#foeHpTable{

}
#1{
    display: none;
    width: 30px;
    height: 30px;
}
#2{
    display: none;
    width: 30px;
    height: 30px;
}
#3{
    display: none;
    width: 30px;
    height: 30px;
}

#playerContainer{
    position: relative;
    top: 525px;
    left: 125px;
    width: 90px;
    height: 90px;
    border: thick solid green;
    background-size: contain;
    background-repeat: no-repeat;

}
#playerArmor{
    position: absolute;
    top: 578px;
    left: 375px;
    border: medium solid grey;
    width: 60px;
    height: 40px;
    background-color: lightgrey;
}
#playerWeapon{
    position: absolute;
    top: 385px;
    left: 210px;
    border: medium solid grey;
    width: 90px;
    height: 45px;
    background-color: lightgrey;
}
#foeDice{
    width:105px;
    height: 105px;
    border: medium red solid;
    position: relative;
    top: 225px;
    left: 100px;

}
#foeHit{
    position: absolute;
    width: 50px;
    height: 50px;
    border: thin yellow solid;
    top: 250px;
    left: 140px;
    text-align: center;
    background-color: red;

}
#playerDice{
    width:105px;
    height: 105px;

    border: medium green solid;
    position: relative;
    top: 325px;
    left:100px;

}
#playerHit{
    position: absolute;
    width: 50px;
    height: 50px;
    border: thin yellow solid;
    top: 350px;
    left: 425px;
    text-align: center;
    background-color: green;
}
/*//////////////////////////*/
#objectivesContainer{
    position: relative;
    width: 300px;
    height: 498px;
    border: thick yellow solid;
    left: 5px;
}
#sound{
    display:none;
}